// @import '~bulma/bulma'

@charset "utf-8";
@import "./node_modules/bulma/sass/utilities/initial-variables";


$beige-lighter: #EFF0EB;
$light-grey: #B7B8B3;
$dark-grey: #383935;
$grey-dark: #383935;
// $family-sans-serif: "Helvetica", "Arial", sans-serif;
$body-background-color: $beige-lighter;

// $family-sans-serif: "Helvetica", "Arial", sans-serif;

@import "./node_modules/bulma/bulma"; 
a{
    color:#383935;
}
a:hover{
   color: #00919F;
}
.content h1{
    font-size: 2.5em;
}
.content h2{
    margin-bottom: 0.1em;
}
.content ul{
    margin: 0;
}
.content p:not(:last-child), .content dl:not(:last-child), .content ol:not(:last-child), .content ul:not(:last-child), .content blockquote:not(:last-child), .content pre:not(:last-child), .content table:not(:last-child) {
    margin-bottom: 2px;
}
.navbar{
    background-color: $beige-lighter;
    border-bottom: 1px solid #1c1d16;
}
.box{
    margin-bottom: 2em;
}
.section{
   padding: 2rem 1.5rem;
}

.edit-button{
    float: right;
    display:none;
}
.edit-button-close{
    float: right;
}
.info:hover{
    .edit-button{
        display:block;
    }
}
#sort-icon{
    margin-top: 1rem;
}

.list-controls{
    margin-bottom: 1em;
}
.list-controls a:first-child{
    padding-right: .5em;
    border-right: 1px solid grey;
}
.list-controls a:nth-child(2){
padding-left: .5em;
}
.active{
    text-decoration: underline;
}
.card-subtitle{

}
.title:not(:last-child){
    margin-bottom: 2px;
}
.add-form-container{
    // background-color: #d4d4d4; 
    
}
//content
.info{
    line-height: 1em;
    .textarea{
      min-height: 2em;  
    }
}
//forms

//add el forms
.add-form-container{
    padding: 1.5rem 2rem;
    border-radius: 6px;
    border: 1px solid #d4d4d4; 
    margin-top: 1em;
    .add-form-header{
        p{
            float: left;
            margin-bottom: .5rem ;
        }
        a{
            float: right;
        }
    }
    form{
        clear: both;
    }
}
select{
    width: 81px;
}
.error-text{
    display: flex;
    clear:both;
    align-items: center;
    // div{
    //     display: flex;
    // }
    i{
        margin-right: 1em;
    }
    li{
        list-style: none;
    //     // margin-left: 2em;
    }
    
}
